<h1>Contact Us</h1>

<div class="field">
	<%= text_field_tag :name, "" %>	
</div>
<div class="field">
	<%= text_field_tag :email, "" %>
</div>
<div class="field">
	<%= text_area_tag :message, "" %>	
</div>
<div class="actions">
	<%= submit_tag "Submit", class: "contact-submit" %>
</div>
<div class="contact-submit-results">
	
</div>
