<h1></h1>

<p>
	<b>Start Date:</b> <%= @resume_entry.start_date %>
</p>
<p>
	<b>End Date:</b> <%= @resume_entry.end_date %>
</p>
<p>
	<b>Description:</b> <%= @resume_entry.description %>
</p>

<%= link_to "Back", "/resume_entries" %>